1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [4]:
import os

In [2]:
test1 = 'This is a test of the emergency text system'

In [3]:
with open("test.txt", "w") as t:
    t.write(test1)

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [10]:
with open("test.txt", "r") as t:
    test2 = t.readline()

In [11]:
test2

'This is a test of the emergency text system'

In [12]:
test1

'This is a test of the emergency text system'

In [13]:
type(test2)

str

In [14]:
type(test1)

str

There is no difference between test1 & test2

3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [16]:
import csv

In [39]:
lines = [['title', 'author', 'year'],['The Weirdstone of Brisingamen', 'Alan Garner', '1960'],['Perdido Street Station', 'China Miéville', '2000'],['Thud!', 'Terry Pratchett', '2005'],['The Spellman Files', 'Lisa Lutz', '2007'],['Small Gods', 'Terry Pratchett', '1992']]

In [40]:
filename = "book.csv"

In [42]:
with open(filename, 'w') as t:
    writer = csv.writer(t,  lineterminator='\n')
    writer.writerows(lines)

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [24]:
import sqlite3

In [25]:
conn = sqlite3.connect("books.db")

In [26]:
cursor = conn.cursor()

In [27]:
cursor.execute("create table books(title TEXT, author TEXT, year INT)")

5. Read books.csv and insert its data into the book table.

In [48]:
with open(filename, 'r') as t:
    reader = csv.reader(t)
    next(reader)
    for i in reader:
        title, author, year = i
        cursor.execute("insert into books (title, author, year) values (?,?,?)",(title, author, int(year)) )

In [49]:
conn.commit()
conn.close()

6. Select and print the title column from the book table in alphabetical order.

In [50]:
conn = sqlite3.connect("books.db")
cursor = conn.cursor()

In [57]:
cursor.execute("SELECT title FROM books order by title asc")
rows = cursor.fetchall()
for row in rows:
    print(row[0])
conn.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

7. From the book table, select and print all columns in the order of publication.

In [59]:
conn = sqlite3.connect("books.db")
cursor = conn.cursor()
cursor.execute("SELECT * FROM books order by year asc")
rows = cursor.fetchall()
for row in rows:
    print(row)
conn.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [61]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///books.db')

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

10. Increment the count field of test and print it.